<footer>
  <div class="m-1 p-3 border border-info border-2 rounded ">
    <h3>Footer</h3>
    <h4><%= placeholder %></h4>
    <p>This paragraph lorem ipsums to the mz. don't read it if you wnat to saphone on th bithce... that's a mistke. Why you type so pporly/ That's right< you kidding me funk jazz ukrainian youtube?</p>
    <textarea rows="8" cols="80"></textarea>
  </div>
</footer>